{{template "base/head" .}}
<div class="page-content dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
	</div>
</div>
{{template "base/footer" .}}
